*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: tt-lake;
    src: url(fonts/TTLakes-Regular.ttf);
}

/* цвет фона страницы */
body {
    background-color: #f8f8f8;
}

/* создать стили для заголовка */
h3{
    font-family: tt-lake;
    font-size: 1rem;
    font-weight: 400;
    color: #7e7e82;
    padding: 1rem;
}

/* создать стили для свайпера */
.swiper {
    display: flex;
    height: 110px;
    width: 100%;
    margin: 20px 0;
}


/* задать базовый размер для логотипов слайдов */
.swiper-slide img {
    /* width: 108px; */
    height: 32px;
}

/* создать стиль для конпки 'GO' */
.swiper-slide a {
    width: 40px;
    height: 40px;
    background-image: url(icons/go.svg);
}

/* большинство логотипов требуют отдельную подгонку, чтоб соответствовать макету */
.samsung img{
    height: 2.4rem;
}
.apple img {
    height: 2.750rem;
    margin-bottom: 5px; /* эппловский логотип даже пришлось подвинуть вверх */
}
.viewsonic img {
    height: 1.313rem;
}
.bosch img {
    height: 1.788rem;
}
.hp img {
    height: 3.25rem;
}
.acer img {
    height: 1.5rem;
}
.sony img{height: 1.6rem;}


/* основные стили для рэппера */
.swiper-wrapper {
    display: flex;
    height: 72px;
    border-radius: 10px;
    scrollbar-width: none;
    padding: 0 0.45rem;
}

/* стили для слайдов, чтоб было как на макете */
.swiper-slide {
    display: flex;
    max-width: 100%;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    padding: 0 1rem;
}


/* стилизация буллетов */
.swiper-pagination {
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #DDDDDD;
  --swiper-pagination-bullet-inactive-opacity: 1;
}



.more-button-container-tablet,
.more-button-container-pc {
    display: none;
}

.slides-on-tablet,
.slides-on-pc {
    display: none;
}


@media (min-width: 768px) and (max-width: 1119px) {
    .swiper {
        display: none;
    }
    
    body{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 2.5%;
    }
    .slides-on-tablet {
        box-sizing: content-box;
        display: flex;
        flex-wrap: wrap;
        /* width: 95%; */
        justify-content: flex-start;
        gap: 1.5rem;
        align-items: space-between;
        height: auto;
        width: auto;
    }

    .swiper-slide {
        width: 30%;
        height: 4.5rem;
    }
    .swiper-pagination, .swiper-button-prev, .swiper-button-next{
        display: none;
    }

    .hidden-on-tablets {
        display: none;
    }
    .more-button-container-tablet {
        display: flex;
        padding-left: 0.5rem;
        align-items: center;
        margin: 1.5rem 0;
        /* margin-left: 3.125%; */
    }
    .more-button-tablet {
        background: none;
        border: none;
        
    }
    .more-button-tablet__label {
        font-family: tt-lake, Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }
}

@media (min-width: 1120px) {
    .swiper {
        display: none;
    }
    
    body{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-left: 4%;
    }

    .slides-on-pc{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 2rem;
        min-width: 100%;
        /* padding: 0 1.5rem; */
        align-items: space-between;
        height: fit-content;
        height: auto;
        width: auto;
    }

    .swiper-slide {
        width: 21.428%;
        height: 4.5rem;
    }
    .swiper-pagination, .swiper-button-prev, .swiper-button-next{
        display: none;
    }
    
    .hidden-on-pc {
        display: none;
    }
    .more-button-container-pc {
        display: flex;
        padding-left: 0.5rem;
        align-items: center;
        margin: 1.5rem 0;
        /* margin-left: 1.5%; */
    }
    .more-button-pc {
        background: none;
        border: none;
        
    }
    .more-button-pc__label {
        font-family: tt-lake, Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1rem;
    }
}